
@import "../css/bootstrap/less/bootstrap.less";
@import "../less/variables.less";
@import "../less/mixin.less";
@import "../less/scaffolding.less";
@import "../less/custom.less";
@import "../less/common.less";
@import "../less/homepage.less";
// @import "../less/dropdown.less";
/*------------------------------------------------------------------------
 * Copyright (C) 2013 The Huyenbt. All Rights Reserved.
 * @license - GNU/GPL, http://www.gnu.org/licenses/gpl.html
 * Author: Huyenbt
-------------------------------------------------------------------------*/

label, span.label {font-size:100%; font-weight: normal;}
label em, p.required{color:#fe6d4c;}

.tooltip {
	.in {
		.opacity(1);
	}
	.tooltip-inner {
		background:@brand-primary;
		border-radius:3px;
		color: #fff;
		border:1px solid @brand-primary;
	}
	
}
.tooltip.top .tooltip-arrow{
		 border-top-color: @brand-primary;
	}
.tooltip.right .tooltip-arrow{
		 border-right-color: @brand-primary;
	}

.mrb30 {
	margin-bottom: 30px;
}
.mrb40 {
	margin-bottom: 40px;
}
.mrb45 {
	margin-bottom: 45px;
}
.mrb50 {
	margin-bottom: 50px;
}
.mrb10 {
	margin-bottom: 10px;
}
.wrap{ 
	width: 100%; clear: both;
	.clearfix();
}
[class*="col-"]:hover {z-index: 1;}
[data-icon]{
	font-style: normal;
}

.tabdrop {
	margin: 0;
	.dropdown-toggle {
		margin: 0;
		
		* {display: none}
	} 
	
}

.page-head{ color: @labelColor;
	h2,h3,h4,h5{text-transform: uppercase; font-weight: bold; margin: 0 0 10px;}
}
.page-title{
	&.title-buttons {
		margin-bottom: 20px;
	}
	h1{
		font-size: 160%; 
		margin: 0px 0 25px; 
		text-transform: uppercase; 
	}
}
.sub-title{font-size: 110%}



a.readmore {
	color: @brand-primary;
}
.highlight {
	color: @brand-primary;
}
.height20 {
	margin: 0 0 20px;
	padding: 0;
	border: none;
}
.visible-phone {
	display: none;
}
@media (max-width: @screen-sm-max){
	.height20 {
		margin-bottom: 30px;
	}
}
@media (min-width: @screen-md-min){
	.row20 {
		margin: 0 -10px;
		[class^='col-']{
			padding: 0 10px;
		}
	}
}
@media (max-width: @screen-phone){
	[class*='col-xs-']{
	//	width: 100%; 
	}
	.visible-phone {
		display: block;
	}
}



.no-display{display: none}

/*----animation-----*/
.animation-icon(@name) {
	-webkit-animation-name: @name;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
	-moz-animation-name: @name;
    -moz-animation-duration: 0.6s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0.1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-play-state: running;
	-o-animation-name: @name;
    -o-animation-duration: 0.6s;
    -o-animation-timing-function: linear;
    -o-animation-delay: 0.1s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-play-state: running;
	animation-name: @name;
	animation-duration:0.6s;
	animation-timing-function: linear;
	animation-delay: 0.1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}
